.one {
  height: 40vh;
  margin: 0;
  background-color: #9dbbae;
  color: white
}


.two {
  text-align: center;
  background: url(./assets/taxReturn.jpg);
  background-size: 100%;
  height: 120vh;
  color: white;
  background-position-y: 120px;
}

Button {
  width: 6em;
  margin: 0em 0.25em 0em 0em;
  background-color: #bdd2a6;
}

.three {
  margin: 0em;
}
